<!DOCTYPE html>
<html>
<body>

<h1>You are logged into student page</h1>
<p>Hii!! <%= studentDetails.userId %></p>
<p>Your programme is <%= studentDetails.programme %></p>
<a href="/routes/users.js">helllo</a>

</body>
</html>